
@import 'nib'

body
  font-family: 'Source Serif Pro', serif
  user-select: none
  background-color: #eee

#timeline
  position: fixed
  bottom: 2rem
  left: 2rem
  width: calc(100% - 4rem)

#edit
  position: fixed
  top: 2rem
  right: 2rem
  font: inherit
  line-height: 1.5
  text-transform: uppercase
  padding: .2rem .4rem
  background: #fff
  box-shadow: 0 1px 2px rgba(#000, .25)
  border: 0
  outline: 0
  cursor: pointer

.fridge
  position: absolute
  top: 0
  left: 0
  background-color: #f9f9f9

.magnet
  position: absolute
  background-color: #fff
  padding: .2rem .4rem
  line-height: 1.5
  box-shadow: 0 1px 2px rgba(#000, .25)
  cursor: pointer
  transform: translate(-50%, -50%)

@media (min-width: 800px)
  .fridge
    left: 50%
    transform: translate(-50%, 0)
